:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black-primary-color: #2D3134;
  --green-primary-color: #65D03D;

}
.bg-primary-green {
  background-color: var(--green-primary-color) !important;
}
#login-btn {
  outline-color: var(--green-primary-color) !important;
  border-color: var(--green-primary-color) !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:var(--black-primary-color);
  ; /* You can adjust this value based on your design */
}

.text-balance {
  text-wrap: balance;
}

.bg-green-700,
.bg-green-800,
.bg-green-600,
.bg-green-500 {
  background-color: #25D300;
}

.text-green-700,
.text-green-400,
.text-green-900,
.text-green-500,
.text-green-600 {
  color: #25D300;
}

.form-control::-webkit-input-placeholder {
  color: #ffffff;
}